<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>ss管理系统</title>
    <link href="__ROOT__static/layui/src/css/layui.css" rel="stylesheet">
    <link href="http://res.layui.com/css/global.css?t=1488649590635" rel="stylesheet">

</head>

<body>
    <div class="layui-layout layui-layout-admin">
        {include file="public/header" /}
        {include file="public/side" /}

        <div class="layui-body site-demo">
            首页
        </div>
        {include file="public/footer" /}
        <!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
        <div class="site-tree-mobile layui-hide">
            <i class="layui-icon">&#xe602;</i>
        </div>
        <div class="site-mobile-shade"></div>


    </div>
</body>

</html>
