<div class="layui-footer footer footer-demo">
    <div class="layui-main">
        <p>2017 &copy; <a href="/">layui.com</a> MIT license</p>
        <p>
            <a href="http://fly.layui.com/jie/3147.html" target="_blank">捐赠作者</a>
            <!--<a href="javascript:layer.msg('暂无此页');">关于我们</a>-->
            <a href="mailto:xianxin@layui.com">合作联系</a>
            <a href="https://github.com/sentsin/layui/" target="_blank">Git仓库</a>
            <a href="http://fly.layui.com/jie/2461.html" target="_blank">微信公众号</a>
        </p>
    </div>
</div>


<script src="__ROOT__static/layui/layui.js"></script>
<script>
layui.config({
    base: '//res.layui.com/lay/modules/layui/',
    version: '1484130829910'
}).use('global');

window.global = {
    preview: function() {
        var preview = document.getElementById('LAY_preview');
        return preview ? preview.innerHTML : '';
    }()
};
</script>