<div class="layui-header header header-demo">
    <div class="layui-main">
        <a class="logo" href="/system">
            SS账号管理系统
        </a>
        <ul class="layui-nav">
            <li class="layui-nav-item ">
                <a href="/doc/">文档</a>
            </li>
            <li class="layui-nav-item layui-this">
                <a href="/demo/">演示</a>
            </li>
            <li class="layui-nav-item">
                <a href="http://fly.layui.com/" target="_blank">社区</a>
            </li>
        </ul>
    </div>
</div>