<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree site-demo-nav">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="javascript:;" href="javascript:;">ss管理</a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a href="{:url('User/sslist')}">
                            <i class="layui-icon" style="top: 3px;">&#xe638;</i>
                            <cite>账号列表</cite>
                        </a>
                    </dd>
                    <dd class="">
                        <a href="{:url('User/useradd')}">
                            <i class="layui-icon" style="position: relative; top: 3px;">&#xe63a;</i>
                            <cite>新增账号</cite>
                        </a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</div>