<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>添加账号</title>
    <link href="__ROOT__static/layui/src/css/layui.css" rel="stylesheet">
    <link rel="stylesheet" href="//res.layui.com/css/global.css?t=1488649590635" media="all">
</head>

<body>
    <div class="layui-layout layui-layout-admin">
        {include file="public/header" /}
        {include file="public/side" /}
        <div class="layui-body site-demo">
            <form class="layui-form" action="">
                <div class="site-title">
                    <fieldset>
                        <legend><a name="input">添加用户</a></legend>
                    </fieldset>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">QQ号</label>
                    <div class="layui-inline">
                        <input type="text" name="title" lay-verify="" placeholder="请输入qq号码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">微信号</label>
                    <div class="layui-inline">
                        <input type="text" name="title" lay-verify="" placeholder="请输入微信号码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">交易金额</label>
                    <div class="layui-inline">
                        <input type="text" name="title" lay-verify="required number" placeholder="请输入交易金额" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">交易时间</label>
                    <div class="layui-inline">
                        <input type="text" name="title" lay-verify="required date" placeholder="请输入交易金额" autocomplete="off" class="layui-input" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD'})">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">ss账号端口</label>
                    <div class="layui-inline">
                        <input type="text" name="title" lay-verify="required number" placeholder="请输入ss账号端口" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">账单周期</label>
                    <div class="layui-inline">
                        <select name="city" lay-verify="">
                            <option value="年付">年付</option>
                            <option value="月付">月付</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">服务器ip</label>
                    <div class="layui-inline">
                        <select name="city" lay-verify="">
                          <option value="1">67.21.68.46</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                   <div class="layui-input-block">
                     <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                     <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                   </div>
                 </div>
            </form>
        </div>
        {include file="public/footer" /}
    </div>

    <script>
    layui.use('laydate', function(){
    });
    </script>
</body>

</html>
